/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }
}

@media (prefers-color-scheme: dark) AND (orientation: landscape) {
  a:hover {
    border-color: rgba(255, 255, 255, .5);
  }
  button:hover {
    border-color: rgba(255, 255, 255, .5);
  }
  #arrow:hover {
    opacity: 0.5;
  }
}


/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: #c20e33;
  }
}

@media (prefers-color-scheme: light) AND (orientation: landscape) {
  a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #arrow:hover {
    box-shadow: none;
  }
  button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 5%;
  line-height: 30pt;
  margin: 0;
  max-height: 5000em;
}

h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 5%;
  max-height: 5000em;
}

h3 {
  color: #ccc;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 10%;
  font-size: 10pt;
}

#githubLink {
  text-align: center;
}

#feedback {
  transition: opacity 2s;
  opacity: 1;
}

a[style*="pointer-events: none"] {
  cursor: not-allowed;
}

#play {
  display: flex;
  width: 100%;
  justify-content: center;
}

#sliderbox {
  display: flex;
  width: 100%;
  justify-content: center;
}

a {
  border-style: solid;
  border-color: white;
  border-width: 2pt;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 7pt;
  padding-bottom: 8pt;
  font-size: 14pt;
}

button {
  border-style: solid;
  border-color: white;
  border-width: 2pt;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 7pt;
  padding-bottom: 8pt;
  font-size: 14pt;
  background: none;
  cursor: pointer;
}

.boxtext {
  width: 100%;
  text-align: right;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
}

#checkboxes {
  margin-bottom: 150pt;
}

.playElement {
  margin-top: 60pt;
}

.collection {
  display: grid;
  column-gap: 10pt;
  row-gap: 10pt;
}

.collection-1o {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.collection-1d {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.collection-j4 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#playButton {
  padding: 8pt;
}

#playButton.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.modes {
  width: auto;
  padding-left: 220pt;
  padding-right: 220pt;
  display: grid;
  row-gap: 10pt;
  grid-template-columns: 1fr;
}

.modes a {
  padding-left: 15pt;
  padding-right: 15pt;
}

#arrow {
  border-style: none;
}

#return {
  justify-content: flex-start;
  margin-top: 10pt;
}

.frontpageheader {
  margin-top: 60pt;
}

.frontpageheader h1 {
  font-size: 25pt;
}

.subheader h2 {
  font-size: 14pt;
}

p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 35pt;
  max-height: 5000em;
}

.playSVG {
  width: 55pt;
  height: 50pt;
}

.arrowSVG {
  width: 25pt;
  height: 25pt;
}

#footer p {
  font-size: 10pt;
  line-height: 10pt;
  text-transform: uppercase;
  letter-spacing: 5%;
  font-weight: bold;
}

#footer {
  margin-top: 60pt;
  margin-bottom: 15pt;
}

#githubLink a {
  font-size: 15pt;
  text-transform: none;
  border-style: none;
  text-decoration: underline;
}

#githubLink {
  margin-bottom: 60pt;
}

input {
  accent-color: #333;
}

@media only screen and (orientation: portrait) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    line-height: 8vw;
    font-size: 8vw;
  }

  a {
    border-width: 0.66vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 4.6vw;
  }

  button {
    border-width: 0.66vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 5vw;
  }

  .boxtext {
    font-size: 5vw;
  }

  .playElement {
    margin-top: 10vw;
  }

  .collection {
    column-gap: 3.3vw;
    row-gap: 3.3vw;
  }

  .collection-1o {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .collection-1d{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .collection-j4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #playButton {
    padding: 2.3vw;
  }

  .modes {
    padding-left: 0;
    padding-right: 0;
    row-gap: 3.2vw;
  }

  .modes a {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #return {
    margin-top: 3.3vw;
    justify-content: center;
  }

  .frontpageheader h1 {
    font-size: 7.5vw;
    line-height: 8.2vw;
  }

  .frontpageheader {
    margin-top: 15vw;
  }

  h2 {
    font-size: 4vw;
  }

  .playSVG {
    width: 18.33vw;
    height: 16.66vw;
  }

  .arrowSVG {
    width: 8.2vw;
    height: 8.2vw;
  }

  #footer p {
    font-size: 3.3vw;
    line-height: 4vw;
  }

  #footer {
    margin-top: 20vw;
    margin-bottom: 5vw;
  }

  #githubLink a {
    font-size: 5vw;
  }

  #githubLink {
    margin-bottom: 20vw;
  }

  #checkboxes {
    margin-bottom: 50vw;
  }

  input[type="checkbox"] {
   width: 5vw;
   height: 5vw;
 }

 h3 {
   font-size: 4vw;
 }

  input[type="range"] {
    -webkit-appearance: none; /* Crucial for Chrome/Safari */
    width: 100%;
    height: 20vw; /* Increases click area but not visual track */
    background: transparent;
  }

  /* Chrome / Safari */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10vw;
    width: 10vw;
    background: #999;
    border-radius: 50%;
    margin-top: -15vw; /* Adjusts thumb position relative to track */
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 3vw;
    background: #333;
    border-radius: 1.5vw;
  }

  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 10vw;
    width: 10vw;
    background: #999;
    border-radius: 50%;
  }

  input[type="range"]::-moz-range-track {
    height: 3vw;
    background: #333;
    border-radius: 1.5vw;
  }

}
